@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  li {
    @apply pr-4 cursor-pointer;
  }
  button {
    @apply bg-indigo-600 p-3 rounded-md text-white;
  }
  html {
    @apply scroll-smooth
  }
}
